*{margin:0;padding:0;border: none;}
body { color: #333; text-align: center; font: 12px "微软雅黑";background-color: #dcf5ed; }
.mapTipText{width: 280px;height: 110px;background-color: #ffffff;border-radius: 5px;}
.mapTipText27{width: 350px;height: 130px;}
.mapTipText .mapTipImg{height: 66px; width: 66px; float: left;border: 2px solid #ffffff; border-radius: 50%;overflow: hidden;margin: -12px 5px 0 -12px;}
.mapTipText .mapTipImg img{width: 100%;height: 100%;}
.mapTipText .mapTipList{float: left;margin-left: 4px;}
.mapTipText .mapTipList h2{text-align: left;}
.mapTipText .mapTipList h2 a{font-size: 24px; color: #262626;text-decoration:none;}
.mapTipText .mapTipList h2 a:hover{ color: #0085d2;}
.mapTipText .mapTipList h2 a span{font-size: 16px;margin-left: 3px;}
.mapTipText .mapTipList ul{ width: 203px;padding-right: 10px;}
.mapTipText .mapTipList ul li{list-style: none;float: left;padding: 7px 3px 0 3px;}
.mapTipText .mapTipList ul li a{color: #262626;text-decoration:none;}
.mapTipText .mapTipList ul li a:hover{background-color:#2ebcfe;color:#ffffff;}

ul a {
  display: inline-block;
	position: relative;
	margin: 0px;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
  border-radius: 9px;
  background-color: #c5c289;
  z-index: 3;
}
#xingxi{
  position: fixed;
  /*position: absolute;*/
  z-index: 101;
  /*bottom: 10px;*/
  right: 20px;
  top: 80px;
  width: 180px;
  height: 90px;
  border-radius: 10px;
  background-image: url(heiban.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.xingming{
  width: 100%;
  height: 20%;
  color: #ffffff;
}
.xuexiao{
  width: 100%;
  height: 40%;
  color: #ffffff;
  font-size: 18px;
}
.zhuanye{
  width: 100%;
  height: 40%;
  color: #ffffff;
  font-size: 15px;
}
.dzq_flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
span{
  /*position: absolute;*/
  position: fixed;
  left: 0;
  right: 0;
  top: 600px;
  font-size: 23px;
  color: #3a3604;
  font-family: sans-serif;
  z-index: -1;
}
.tubiao{
  height: 100%;
  width: 10%;
}
.gy{
  height: 100%;
  width: 90%;
}
#xiaohui{
  height: 66px;
  width: 66px;
  border-radius: 33px;
  margin-left: -20px;
  margin-top: -20px;
}
